[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "backend"]
	path = backend
	url = ./backend
[submodule "frontend_swift"]
	path = frontend_swift
	url = ./frontend_swift
[submodule "pricing_worker"]
	path = pricing_worker
	url = ./pricing_worker

