[submodule "frontend"]
	path = frontend
	url = https://github.com/jlpbiuma/MTG_Utils_Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/jlpbiuma/MTG_Utils_Backend.git
[submodule "frontend_swift"]
	path = frontend_swift
	url = https://github.com/jlpbiuma/MTG_Utils_Frontend_Swift.git

[submodule "worker"]
	path = worker
	url = https://github.com/jlpbiuma/MTG_Utils_Worker.git
[submodule "worker_whatsapp"]
	path = worker_whatsapp
	url = https://github.com/jlpbiuma/MTG_Utils_Whatsapp_bot.git
